{% extends "base.html" %}

{% block content %}
  <h2>Maintenance</h2>
  <a href="{% url 'add-maintenance-list' %}" class="btn btn-primary">Add Maintenance</a>
  <ul>
    {% for item in items %}
      <li>
        Description: {{ item.issue_description }}<br>
        Reported On: {{ item.reported_on }}, Resolved On: {{ item.resolved_on }}<br>
        Contact: {{ item.service_contact }}<br>
        <a href="{% url 'delete-maintenance' pk=item.pk %}" class="btn btn-danger btn-sm">Delete</a>
      </li>
    {% empty %}
      <li>No Maintenance found.</li>
    {% endfor %}
  </ul>
{% endblock %}
